In [1]:
import numpy as np
import pandas as pd

In [2]:
tmp = pd.read_csv("/home/ran/Downloads/breast_cancer.csv")

In [3]:
tmp

     Disease_status  methylaiton_value
0                 2           0.191289
1                 1           0.172956
2                 0           0.142224
3                 2           0.164771
4                 2           0.845450
5                 0           0.161138
6                 2           0.808860
7                 2           0.153129
8                 2           0.821696
9                 2           0.147141
10                2           0.895135
11                3           0.775475
12                2           0.145864
13                2           0.825391
14                2           0.142033
15                2           0.588001
16                1           0.764975
17                2           0.845454
18                0           0.159293
19                2           0.144252
20                2           0.127210
21                2           0.857061
22                2           0.579941
23                1           0.780184
24                2           0.155893
25                0           0.816219
26                2           0.855858
27                2           0.143061
28                2           0.127100
29                2           0.134479
..              ...                ...
377               2           0.813072
378               0           0.034475
379               2           0.758168
380               2           0.760832
381               2           0.025096
382               2           0.737648
383               2           0.757478
384               2           0.071862
385               1           0.718962
386               2           0.034222
387               2           0.046819
388               0           0.100288
389               2           0.748433
390               2           0.945114
391               2           0.092691
392               0           0.734397
393               2           0.115370
394               2           0.103108
395               2           0.692216
396               2           0.099089
397               2           0.716228
398               2           0.100353
399               0           0.750092
400               2           0.086667
401               2           0.370394
402               2           0.090537
403               0           0.092716
404               1           0.720046
405               2           0.686972
406               2           0.712739

[407 rows x 2 columns]

In [4]:
score = pd.read_csv("/home/ran/Downloads/scores_by_section.csv")

In [5]:
score

     Section  Score
0         12      8
1          8      7
2          8      7
3          3      7
4          2      8
5          2      4
6          2      0
7          5      5
8          3      7
9         10      6
10        12      0
11        10      7
12         9      9
13         3      8
14         5      4
15         9     10
16         6      8
17        11      9
18         3      5
19         2      7
20         9      9
21        11      8
22         9      4
23         2      7
24         9      7
25         6      7
26        10      7
27         7      1
28         5      9
29         3      0
..       ...    ...
320        6      7
321        9      8
322        5      8
323       12      3
324       10      8
325        8      8
326        6      9
327        5      7
328        5      7
329        4      7
330        5      9
331        7      6
332       12      6
333        7      0
334       12      5
335        1      4
336        3      7
337        5      5
338        9      9
339        7      3
340        6      2
341        1      7
342       11     10
343        2      6
344        5      8
345        4      8
346        4      7
347        5      9
348        7      0
349        3      0

[350 rows x 2 columns]

In [15]:
score.groupby("Section")["Score"].mean()

Section
1     5.857143
2     6.068966
3     5.722222
4     6.275862
5     6.027027
6     5.903226
7     5.333333
8     6.892857
9     6.250000
10    6.800000
11    7.000000
12    5.258065
Name: Score, dtype: float64

In [13]:
score.groupby("Section").count()

         Score
Section
1           21
2           29
3           36
4           29
5           37
6           31
7           24
8           28
9           24
10          35
11          25
12          31